/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.spin {
  animation: spin 60s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
